
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS and Linux
.DS_Store
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and cache
*.log
*.bak
.cache/
