{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
<div class="container text-center">
    <div class="content mx-auto col-md-10">
        <h2>Dobrodošli na Projekt Delta!</h2>
        <h3>Najbolje prodajani produkti</h3>
        <div class="row">
            {% for product in top_products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ product[1] }}</h5>
                        <p class="card-text">{{ product[2] }}</p>
                        <p class="card-text"><strong>Cena:</strong> €{{ product[3] }}</p>
                        <p class="card-text"><small class="text-muted">Prodano: {{ product[5] }}</small></p>
                        <a href="/trgovina" class="btn btn-primary">Kupi</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        {% if session.user and session.user.role == 'employee' %}
        <form action="{{ url_for('arrived') }}" method="post">
            <button type="submit">Arrived at work</button>
        </form>

        <form action="{{ url_for('left') }}" method="post">
            <button type="submit">Leaving work</button>
        </form>
    {% endif %}
    </div>
    <h2>Najbolj priljubljeni izdelki</h2>
    <div class="product-container">
        {% for product in top3_products %}
            <div class="product-card">
            <h3>{{ product[1] }}</h3>
            <p>{{ product[2] }}</p>
            <p>Cena: €{{ product[3] }}</p>
            <p>Število klikov: {{ product[4] }}</p>
            </div>
        {% endfor %}
    </div>
    <div>
        <h3>Naše poslovalnice</h3>
        {% if stores %}
            <div class="row">
            {% for store in stores %}
                <div class="col-md-12 mb-3">
                    <div class="card p-3">
                        <h5 class="card-title">{{ store[1] }}</h5>
                        <p class="card-text"><strong>Naslov:</strong> {{ store[2] }}</p>
                        <p class="card-text"><strong>Telefon:</strong> {{ store[3] or "Ni podano" }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p style="color:red;">⚠️ Ni nobenih poslovalnic!</p>
        {% endif %}
    </div>
</div>
{% endblock %}