{% extends "base.html" %}
{% block title %}Seznam produktov{% endblock %}
{% block content %}
    <h1>Seznam produktov</h1>
    <div class="product-container">
        {% for productID, Ime_produkta, Opis_produkta, Cena_produkta, Stock in products %}
            <div class="product-card">
                <h3>{{ Ime_produkta }}</h3>
                <p>{{ Opis_produkta }}</p>
                <p>Cena: {{ Cena_produkta }} €</p>
                <p>Na zalogi: {{ Stock }}</p>
            </div>
            {% if loop.index % 3 == 0 %}
                <div class="clearfix"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
