{% extends "base.html" %}
{% block title %}Trgovina{% endblock %}

{% block content %}
<h1>Trgovina</h1>
<div class="product-grid">
    {% for product in products %}
    <div class="product-card">
        <h3>{{ product[0] }}</h3>  {# Ime_produkta #}
        <p>{{ product[1] }}</p>   {# Opis_produkta #}
        <span>{{ product[3] }} €</span>  {# Cena_produkta #}
        <form action="{{ url_for('trgovina_post') }}" method="post">
            <input type="hidden" name="productID" value="{{ product[0] }}">
            <button type="submit" class="add-to-cart-btn">Dodaj v košarico</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
