{% extends "base.html" %}
{% block title %}Vračilo{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/basic_form.css') }}">
<div class="vracilo-wrapper">
    <div class="form-container">
        <h2>Obrazec za vračilo izdelka</h2>
        <form method="post">
        <label for="ime">Vaše ime:</label>
        <input type="text" name="ime" required value="{{ uporabnik.ime }}">

        <label for="email">E-pošta:</label>
        <input type="email" name="email" required value="{{ uporabnik.email }}">

        <label for="izdelek">Izdelek, ki ga želite vrniti:</label>
        <select name="izdelek" required>
            <option value="">-- Izberi izdelek --</option>
            {% for item in izdelki %}
            <option value="{{ item|lower }}">{{ item }}</option>
            {% endfor %}
        </select>

        <label for="razlog">Razlog za vračilo:</label>
        <textarea name="razlog" required placeholder="Npr. napačna velikost, poškodovan izdelek ..."></textarea>

        <button type="submit" class="submit-btn">Pošlji zahtevo</button>
        </form>

        {% if potrjeno %}
        <div class="response-message">
        Zahteva za vračilo je bila uspešno poslana. Kontaktirali vas bomo na vneseni e-poštni naslov.
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

